﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <script src="~/Scripts/Custom/ClientJQuery.js"></script>

    <section class="content-wrapper main-content clear-fix">
        <h3>Test Appi:</h3>

        <div id="BuscarPersona">
            <label>Buscar Persona</label>
            <input type="text" id="IdPersonaBuscar" />
            <input type="button" value="Buscar" onclick="getPersona()"/>
        </div>
        <div id="FormPersona">
            <label>Agregar/Modificar Persona</label>
            <input type="text" id="Id" placeholder="ID"/>
            <input type="text" id="Nombre" placeholder="Nombre"/>
            <input type="text" id="Email" placeholder="Email"/>
            <input type="text" id="Telefono" placeholder="Teléfono"/>
            <input type="text" id="Direccion" placeholder="Dirección"/>

            <input type="button" value="Agregar" onclick="postPersona()"/>
            <input type="button" value="Modificar" onclick="putPersona()"/>
        </div>
        <input type="button" value="Todos" onclick="getAllPersona()"/>
        <label>Listado de Personas</label>
        <div id="ListaPersonas">
            
            
        </div>

    </section>

    <script type="text/ecmascript">

    </script>

</div>
